<%- include('./layouts/header') %>

<h1 class="title">welcome to steakz restaurant
</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <!-- Your list items here if needed -->
  </ol>


<%- include('./layouts/footer') %>
